@import "../../../styles.scss";

.main-footer {
  margin-top: 92px;
}

.main-footer__container {
  @extend %container;

  border-top: 1px solid var(--clr-secondary);
  padding-top: 16px;
  padding-bottom: 16px;
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 12px;
}

.social-media__link {
  @extend %pressableContext;

  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary);
  cursor: pointer;

  i {
    color: var(--clr-primary);
  }
}

.main-footer__navigation {
  margin: 28px 0;
  overflow: auto;
  text-wrap: nowrap;

  &--alt {
    margin: 0;
  }

  ul {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      color: var(--clr-secondary);
      font-size: 14px;

      a {
        @extend %pressableContext;

        color: inherit;
      }

      &:not(:last-child)::after {
        content: "/";
        margin-left: 8px;
      }
    }
  }
}

.copyright {
  margin: 0 0 8px;
  color: var(--clr-secondary);
  font-size: 14px;
}
