<aside class="sidebar-activity">
  <header class="sidebar-activity__header">
    <h2 class="sidebar-activity__title">Activity</h2>
    <a class="sidebar-activity__link" href="#"
      >View timeline / Filter activities</a
    >
  </header>

  <nav class="sidebar-activity__navigation">
    <ul class="sidebar-activity__list">
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>John Stailor</span>
            <span>commented</span>
          </div>
          <div class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi
            perferendis earum totam dolor voluptates consequuntur, vel officiis.
            Voluptatum id, maxime vitae ad quisquam deleniti, aliquid quis vero
            blanditiis optio in!
          </div>
          <div class="meta">
            <i class="fa-solid fa-comment"></i>
            <span>57 seconds ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>Jude Jarvis</span>
            <span>shared a document</span>
          </div>
          <div class="content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
            consequatur ad distinctio provident! Mollitia natus deserunt dolore
            adipisci tempore unde eos, corrupti distinctio placeat voluptatum
            quos cumque delectus illo provident.
          </div>
          <div class="meta">
            <i class="fa-solid fa-file"></i>
            <span>2 minuets ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>Natalio De Iro</span>
            <span>commented</span>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
            error, expedita esse repellendus omnis impedit sit autem molestiae
            quidem quas nulla, atque obcaecati, veniam suscipit enim unde.
            Nesciunt, et delectus!
          </div>
          <div class="meta">
            <i class="fa-solid fa-comment"></i>
            <span>21 seconds ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>Lorenzo Desaus</span>
            <span>unlocked new badge</span>
          </div>
          <div class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam
            reprehenderit totam omnis quia libero ipsa veritatis, excepturi
            cumque? Explicabo tempore beatae illo nisi illum rem similique
            quisquam tenetur aliquid recusandae.
          </div>
          <div class="meta">
            <i class="fa-solid fa-lock-open"></i>
            <span>2 days ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>Camila Awal</span>
            <span>added a new video</span>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consequatur nulla voluptate natus nam praesentium perferendis,
            labore architecto non in deleniti dolore debitis vero, illum magnam
            quidem porro vitae iure sapiente.
          </div>
          <div class="meta">
            <i class="fa-solid fa-video"></i>
            <span>5 weeks ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
      <li class="sidebar-activity__list-item">
        <div></div>
        <div>
          <div class="author">
            <span>Done Dauk</span>
            <span>commented</span>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum,
            laudantium. Nam sequi fugiat natus animi at iusto magnam fugit,
            adipisci labore. Magnam, fuga quod cupiditate culpa soluta aliquid
            recusandae sequi.
          </div>
          <div class="meta">
            <i class="fa-solid fa-heart"></i>
            <span>10 seconds ago</span>
          </div>
        </div>
        <div>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </li>
    </ul>
  </nav>
</aside>
