<app-main-header></app-main-header>

<app-main-navigation></app-main-navigation>

<main>
  <div class="container section-container">
    <div>
      <app-grid title="Videos" linkLabel="Browse all videos"></app-grid>
    </div>
    <div>
      <app-list-activity></app-list-activity>
    </div>
  </div>
  <div class="container section-container">
    <div>
      <app-grid title="People" linkLabel="View all"></app-grid>
      <app-grid title="Documents" linkLabel="Browse all documents"></app-grid>
    </div>
    <div>
      <app-list-channel></app-list-channel>
    </div>
  </div>
</main>

<app-main-footer></app-main-footer>
