<section class="grid">
  <div class="grid__container">
    <div>
      <header class="grid__header">
        <h2 class="grid__title">{{ title }}</h2>
        <a class="grid__link" href="#">{{ linkLabel }}</a>
      </header>
      <div style="display: flex; flex-wrap: wrap; gap: 8px">
        <div class="grid__item grid__item--main">
          <div class="title">How to Improve your skills</div>
          <div>
            <div class="author">Wassen Arshad</div>
            <div class="views">187,807 views</div>
          </div>
        </div>
        <div class="grid__item">
          <div class="author">Wassen Arshad</div>
          <div class="views">187,807 views</div>
        </div>
        <div class="grid__item">
          <div class="author">Wassen Arshad</div>
          <div class="views">187,807 views</div>
        </div>
      </div>
    </div>
    <div>
      <div class="dom-shadow"></div>
      <div class="grid__item grid__item--alt">
        <div class="author">Wassen Arshad</div>
        <div class="views">187,807 views</div>
      </div>
      <div class="grid__item grid__item--alt">
        <div class="author">Wassen Arshad</div>
        <div class="views">187,807 views</div>
      </div>
      <div class="grid__item grid__item--alt">
        <div class="author">Wassen Arshad</div>
        <div class="views">187,807 views</div>
      </div>
    </div>
  </div>
</section>
