<aside class="sidebar-channel">
  <header class="sidebar-channel__header">
    <h2 class="sidebar-channel__title">Channels</h2>
    <a class="sidebar-channel__link" href="#">Browse all channels</a>
  </header>

  <nav class="sidebar-channel__navigation">
    <ul class="sidebar-channel__list">
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Google</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Dribbble</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Microsoft</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Behence</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Weather Channel</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Gurus</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>iMedia</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Creativeye</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Khan Studios</div>
      </li>
      <li class="sidebar-channel__list-item">
        <div>
          <i class="fa-solid fa-plus"></i>
        </div>
        <div>Yahoo</div>
      </li>
    </ul>
  </nav>
</aside>
