<header class="main-header">
  <div class="main-header__container">
    <div class="main-header__left">
      <h1 class="logo">
        <span class="logo__text logo__text--light">Social</span>
        <span class="logo__text">Network</span>
      </h1>
    </div>
    <div class="main-header__right">
      <form class="search">
        <input type="text" placeholder="Find..." />
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <button class="upload">
        <i class="fa-solid fa-arrow-up"></i>
        <span>Upload</span>
      </button>
      <div class="profile">
        <div class="profile__icon-container">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="profile__fullname">
          <div>Waseem</div>
          <div>Arshad</div>
        </div>
        <div class="profile__notif-counter">24</div>
      </div>
    </div>
  </div>
</header>
